name: On Push

on:
  push:
    branches: [main, develop]

jobs:
  test:
    uses: ./.github/workflows/test.yml

  build-bundles:
    if: github.ref == 'refs/heads/main'
    needs: test
    uses: ./.github/workflows/build-bundles.yml
