name: On Release Published

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      dry_run:
        description: 'Perform a dry run (no actual publish)'
        required: false
        default: false
        type: boolean

jobs:
  publish-npm:
    uses: ./.github/workflows/publish-npm.yml
    with:
      dry_run: ${{ inputs.dry_run || false }}
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
